
config.py
colormap testing.pptx
__pycache__/config.cpython-37.pyc
.ipynb_checkpoints/PVWatts Lat Lon Iterate-checkpoint.ipynb
.ipynb_checkpoints/PVWatts Query Testing-checkpoint.ipynb
.ipynb_checkpoints/PVWatts to Excel-checkpoint.ipynb
.ipynb_checkpoints/PVWattsCartopyMap-checkpoint.ipynb
.ipynb_checkpoints/PVWattsCartopyMap-Test Code-checkpoint.ipynb
.ipynb_checkpoints/PVWattsCartopyMap-World-checkpoint.ipynb
.ipynb_checkpoints/USAMapPower-checkpoint.ipynb
~$colormap testing.pptx
